/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@600;700&display=swap');*/

.page {
  max-width: 1441px;
  margin: 0 auto;
  background-color: #fff;
}

.header {
  padding: 41px 120px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  text-decoration: none;
}

.header__logo {
  color: #192252;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
}

.menu-list {
  display: flex;
  flex-direction: row;
  gap: 36px;
  list-style-type: none;
}

.menu-link {
  color: #192252;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
}

.common-button-style {
  border-radius: 4px;
  background: #0E1734;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  cursor: pointer;
}

.header__button-padding {
  padding: 14px 16px;
}

.hover-effect:hover {
  opacity: 0.6;
}

.about {
  padding: 80px 120px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.about__content-title {
  margin-top: 135px;
  margin-bottom: 24px;
  color: #192252;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.5; /* 72px */
  letter-spacing: -0.48px;
}

.about__content-text {
  max-width: 485px;
  margin-bottom: 59px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5; /* 27px */
}

.about__photo {
  height: 669px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.about__photo-part {
  width: 180px;
  height: 588px;
  border-radius: 4px;
}

.about__photo-part_moved {
  align-self: end;
}


