/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@600;700&display=swap');*/

.page {
  max-width: 1441px;
  margin: 0 auto;
  background-color: #fff;
}

.header {
  padding: 41px 120px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  text-decoration: none;
}

.header__logo {
  color: #192252;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
}

.menu-list {
  display: flex;
  flex-direction: row;
  gap: 36px;
  list-style-type: none;
}

.menu-link {
  color: #192252;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
}

.common-button-style {
  padding: 16px 32px;
  border-radius: 4px;
  background: #0E1734;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  cursor: pointer;
}

.header__button-padding {
  padding: 14px 16px;
}

.hover-effect:hover {
  opacity: 0.6;
}

.about {
  padding: 80px 120px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.about__content-title {
  margin-top: 135px;
  margin-bottom: 24px;
  color: #192252;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.5; /* 72px */
  letter-spacing: -0.48px;
}

.content-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5; /* 27px */
}

.about__text-position {
  max-width: 485px;
  margin-bottom: 59px;
}

.about__photo {
  height: 669px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.about__photo-part {
  width: 180px;
  height: 588px;
  border-radius: 4px;
}

.about__photo-part_moved {
  align-self: end;
}

.main-offer {
  padding: 80px 120px;
  display: flex;
  flex-direction: row;
  gap: 126px;
  align-items: center;
}

.main-offer__image {
  width: 384px;
}

.content-title {
  color: #192252;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.5; /* 54px */
  letter-spacing: -0.36px;
}

.main-offer__text-position {
  max-width: 584px;
  margin-top: 28px;
  margin-bottom: 17px;
}

.services {
  padding: 80px 226px 80px 120px;
}

.services__cards-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.services__card {
  display: flex;
  flex-direction: row;
  gap: 126px;
  align-items: center;
}

.services_card-reversed {
  flex-direction: row-reverse;
}

.services__card-description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.services__image {
  width: 384px;
}

.photos {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 37.65px;
}

.photos__slider {
  display: grid;
  grid-template-columns: 1090px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.photos__slider__selected-photo {
  grid-row-start: 1;
  grid-row-end: 4;
  position: relative;
}

.points {
  position: absolute;
  left: 510px;
  bottom: 28.73px;
}

.house-options {
  padding: 0 120px;
}

.house-options__description {
  text-align: center;
}

.house-options__description__text-position {
  max-width: 588px;
  margin: 24px auto 32px;
}

.house-options__cards {
  padding: 88px 0 80px;
}

.house-options__cards-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  list-style-type: none;
}

.house-options__cards-list-item {
  min-height: 713px;
  flex-basis: 384px;
  flex-grow: 0;
}

.house-options__card {
  height: 100%;
  display: grid;
  grid-template-rows: 489px 1fr min-content;
  gap: 32px;
  align-items: start;
}

.house-options__card__description {
  display: grid;
  gap: 16px;
}

.house-options__card__title {
  color: #000;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5; /* 36px */
}

.house-options__card__link {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  color: #424F7B;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5; /* 27px */
  text-decoration: none;
}

.house-options__card__arrow {
  width: 20px;
  height: 20px;
}





